---
import IndexNavbar from "../components/index-navbar.astro";
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/home-hero.astro";
import { useStrapi } from "../api/strapi";
import HomeHistory from "../components/home/home-history.astro";
import HomeRedirection from "../components/home/home-redirection.astro";
import IndexFooter from "../components/index-footer.astro";
import ContactImage from "../assets/images/contact.jpg";
import SalonsImage from "../assets/images/salons.jpg";
import TerrasseImage from "../assets/images/terrasse.jpg";
import HomeMenu from "../components/home/home-menu.astro";
import TablesForegroundImage from "../assets/images/tables-foreground.jpg";
import { Image } from "astro:assets";

const listLinks = {
  "/": "Accueil",
  "/cartes": "Cartes",
  "/salons": "Salons",
  "/contact": "Contact",
};

const strapi = useStrapi("fr");
const strapiAccueil = await strapi.getAccueil();
const { entete, histoire, locale } = strapiAccueil.data.attributes;
---

<Layout title="" lang="fr">
  <IndexNavbar links={listLinks} />
  <!-- 
  <HomeHero entete={entete} />
  <div class="bg-dark w-full border-t-4 border-secondary my-8 border-b-2 h-2">
  </div>
  <HomeHistory history={histoire} button="En savoir plus..." />
  <div
    class="bg-dark w-full border-t-4 border-secondary my-8 border-b-2 h-2 shadow-md"
  >
  </div>
  <HomeMenu />
  <section class="bg-bright">
    <div class="flex flex-row w-full max-w-screen-xl m-auto px-16 py-56 gap-8">
      {
        listRedirections.map((redirection) => (
          <div class="w-1/3">
            <HomeRedirection
              title={redirection.title}
              description={redirection.description}
              link={redirection.link}
              image={redirection.image}
              alternative={redirection.alternative}
            />
          </div>
        ))
      }
    </div>
  </section>
  <div
    class="w-full h-56 bg-dark overflow-hidden flex justify-center items-center"
  >
    <Image
      data-parallax="2"
      src={TablesForegroundImage}
      widths={[240, 540, 720, TablesForegroundImage.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${TablesForegroundImage.width}px`}
      alt="Tables du café vienne en avant plan avec terrasse en arrière plan"
      class="w-full object-cover object-center brightness-75"
    />
  </div>
  <section class="w-full bg-bright flex justify-center items-center py-56">
  </section>
  <IndexFooter /> -->
</Layout>
