---
import { useStrapi } from "../api/strapi";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import IndexNavbar from "../components/index-navbar.astro";
import IndexFooter from "../components/index-footer.astro";
import CommonSvg from "../components/common/common-svg.astro";
import HomeHero from "../components/home/home-hero.astro";
import HomeHistory from "../components/home/home-history.astro";
import HomeMenu from "../components/home/home-menu.astro";
import HomeSalon from "../components/home/home-salon.astro";
import HomeMedia from "../components/home/home-media.astro";

import ContactImage from "../assets/images/contact.jpg";
import TablesForegroundImage from "../assets/images/tables-foreground.jpg";

import DividerSvg from "../assets/icons/divider.svg?raw";

const listLinks = {
  "/": "Accueil",
  "/cartes": "Cartes",
  "/salons": "Salons",
  "/contact": "Contact",
};

const strapi = useStrapi("fr");
const strapiAccueil = await strapi.getAccueil();
const { entete, histoire, menu, salon_header, salon_content, medias, footer } =
  strapiAccueil.data.attributes;
---

<Layout title="" lang="fr">
  <IndexNavbar links={listLinks} />
  <HomeHero entete={entete} />
  <CommonSvg raw={DividerSvg} class="w-full h-16 text-primary my-6" />
  <HomeHistory history={histoire} />
  <div class="h-60 w-full overflow-hidden relative">
    <Image
      data-parallax="2"
      src={TablesForegroundImage}
      widths={[240, 540, 720, TablesForegroundImage.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${TablesForegroundImage.width}px`}
      alt="Tables du café vienne en avant plan avec terrasse en arrière plan"
      class="w-full object-cover object-center brightness-[35%] absolute -z-10"
    />
    <div class="h-full w-full flex justify-center items-center">
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-handwriten text-bright">
        Ici, le <span class="text-primary">bonheur</span> et la <span
          class="text-primary">cuisine</span
        > sont <span class="text-primary">fait maison</span>
      </h2>
    </div>
  </div>
  <HomeMenu menu={menu} />
  <CommonSvg raw={DividerSvg} class="w-full h-16 text-primary my-16" />
  <HomeSalon header={salon_header} content={salon_content} />
  <div class="h-72 w-full overflow-hidden relative">
    <Image
      data-parallax="2"
      src={ContactImage}
      widths={[240, 540, 720, ContactImage.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${TablesForegroundImage.width}px`}
      alt="Tables du café vienne en avant plan avec terrasse en arrière plan"
      class="w-full object-cover object-center brightness-[35%] absolute -z-10 grayscale"
    />
  </div>
  <HomeMedia medias={medias.data.map((item) => item.attributes)} />
  <IndexFooter footer={footer} />
</Layout>
