---
import type {
  PageContent,
  PageHeader,
} from "../../models/strapi/components/page.interface";
import CommonSvg from "../common/common-svg.astro";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";
import PhoneSvg from "../../assets/icons/phone.svg?raw";
import { Image } from "astro:assets";
import SalonImage from "../../assets/images/salon.jpg";

export interface Props {
  salon: PageContent;
}

const { salon } = Astro.props;
---

<section id="salons" class="relative">
  <Image
    data-parallax="2"
    src={SalonImage}
    widths={[240, 540, 720, SalonImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${SalonImage.width}px`}
    alt="Tables du café vienne en avant plan avec terrasse en arrière plan"
    class="h-md w-full object-cover"
  />
  <div
    class="relative -top-24 bg-secondary container p-8 md:p-12 lg:p-32 text-bright space-y-24"
  >
    <!-- Header -->
    <article>
      <h3 class="font-valencia text-xl text-primary">{salon.subtitle}</h3>
      <h2 class="font-cormier text-4xl">{salon.title}</h2>
      <p class="font-cormorant max-w-sm mt-6 text-[18px]">{salon.content}</p>
    </article>
    <!-- Content -->
    <div
      class="columns-2 md:columns-3 lg:columns-4 table-fixed gap-4 space-y-4"
    >
      {
        salon.images.data.map((image) => (
          <CommonStrapiImage
            image={image.attributes}
            class="w-full object-cover"
          />
        ))
      }
    </div>
  </div>
</section>
