---
import type {
  PageContent,
  PageEvent,
} from "../../models/strapi/components/page.interface";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";
import { Image } from "astro:assets";
import SalonImage from "../../assets/images/salon.jpg";
import dayjs from "dayjs";
import fr from "dayjs/locale/fr";
import CommonSvg from "../common/common-svg.astro";
import CalendarSvg from "../../assets/icons/calendar.svg?raw";

dayjs.locale(fr);

export interface Props {
  salon: PageContent;
  expos: PageEvent[];
}

const { salon, expos } = Astro.props;
---

<section id="salons" class="relative overflow-hidden">
  <Image
    data-parallax="2"
    src={SalonImage}
    widths={[240, 540, 720, SalonImage.width]}
    sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${SalonImage.width}px`}
    alt="Tables du café vienne en avant plan avec terrasse en arrière plan"
    class="h-md w-full object-cover"
  />
  <div
    class="relative -top-24 bg-secondary container p-8 md:p-12 lg:p-32 text-bright space-y-24"
  >
    <!-- Header -->
    <article>
      <h3 class="font-valencia text-xl text-primary">{salon.subtitle}</h3>
      <h2 class="font-cormier text-4xl">{salon.title}</h2>
      <p class="font-cormorant max-w-sm mt-6 text-[18px]">{salon.content}</p>
    </article>
    <!-- Content -->
    <div
      class="columns-2 md:columns-3 lg:columns-4 table-fixed gap-4 space-y-4"
    >
      {
        salon.images.data.map((image) => (
          <CommonStrapiImage
            image={image.attributes}
            class="w-full object-cover"
          />
        ))
      }
    </div>
    <div class="mt-28 flex flex-col">
      <h2 class="font-valencia text-4xl text-primary mb-8">
        Prochaines expositions
      </h2>
      {
        expos.map((expo) => (
          <article>
            <span class="font-cormier flex flex-row gap-2 items-center mb-4">
              <CommonSvg raw={CalendarSvg} class="size-4 " />
              {dayjs(expo.starting).locale("fr").format("D MMM YYYY")} -{" "}
              {dayjs(expo.ending).locale("fr").format("D MMM YYYY")}
            </span>
            <div class="w-full flex flex-col md:flex-row gap-8">
              <CommonStrapiImage
                image={expo.image.data.attributes}
                class="md:w-1/3 object-contain"
              />
              <div class="w-full">
                <h2 class="font-valencia text-xl">{expo.title}</h2>
                <p class="font-cormorant max-w-sm mt-6 text-base">
                  {expo.description}
                </p>
                <div class="mt-4">
                  <span class="font-valencia ">Vernissage</span>
                  <span class="text-primary font-cormier underline">
                    {dayjs(expo.vernissage).format("D MMM YYYY - HH:mm")}
                  </span>
                </div>
              </div>
            </div>
          </article>
        ))
      }
    </div>
  </div>
</section>
