---
import { Image } from "astro:assets";
import CommonSvg from "../common/common-svg.astro";
import ArrowRightSvg from "../../assets/icons/arrow-right.svg?raw";

export interface Props {
  title: string;
  link: string;
  description: string;
  image: ImageMetadata;
  alternative: string;
}

const { title, description, link, image, alternative } = Astro.props;
---

<article
  class="w-full h-full relative aspect-[3/4] shadow-xl rounded-md overflow-hidden group hover:shadow-md"
>
  <div class="absolute w-full h-full z-0">
    <Image
      src={image}
      widths={[240, 540, 720, image.width]}
      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${image.width}px`}
      alt={alternative}
      class="w-full' h-full object-cover object-center group-hover:scale-105 transition-all duration-300 ease-in-out filter brightness-75 group-hover:brightness-90"
    />
  </div>
  <a
    class="absolute z-10 h-full p-4 text-bright bg-gradient-to-b from-transparent to-dark to-90% from-50%"
    href={link}
  >
    <div class="flex flex-col gap-8 h-full justify-end">
      <div class="flex flex-row justify-between items-center text-amber-200">
        <h2 class="text-2xl font-bodoni font-bold uppercase">
          {title}
        </h2>
        <CommonSvg
          raw={ArrowRightSvg}
          class="w-8 h-8 opacity-0 group-hover:opacity-100 transition-opacity delay-200 duration-300 ease-in-out"
        />
      </div>
      <h3 class="text-sm font-poppins">{description}</h3>
      <div></div>
    </div>
  </a>
</article>
