---
import type {
  PageContent,
  PageHeader,
} from "../../models/strapi/components/page.interface";
import CommonSvg from "../common/common-svg.astro";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";
import PhoneSvg from "../../assets/icons/phone.svg?raw";

export interface Props {
  header: PageHeader;
  content: PageContent;
}

const { header, content } = Astro.props;
---

<section id="salons" class="relative">
  <CommonStrapiImage
    image={header.background.data.attributes}
    class="h-md w-full object-cover"
  />
  <div
    class="relative -top-24 bg-secondary container p-8 md:p-12 lg:p-32 text-bright space-y-24"
  >
    <!-- Header -->
    <article>
      <h3 class="font-valencia text-xl text-primary">{header.subtitle}</h3>
      <h2 class="font-cormier text-4xl">{header.title}</h2>
      <p class="font-cormorant max-w-sm mt-6 text-[18px]">{header.content}</p>
    </article>
    <!-- Content -->
    <article class="flex flex-col lg:flex-row w-full lg:h-sm gap-[-16rem]">
      <div class="basis-1/2 lg:aspect-square">
        <CommonStrapiImage
          image={content.images.data[0].attributes}
          class="w-full h-full object-cover"
        />
      </div>
      <div
        class="bg-bright text-dark relative z-10 mt-4 lg:m-12 p-8 lg:-ml-24 space-y-8"
      >
        <h2 class="font-valencia text-xl text-primary">{content.title}</h2>
        <p class="font-cormorant mt-6 text-[18px]">{content.content}</p>
        <div class="w-full">
          <a href="#contact">
            <button
              class="h-14 w-44 flex justify-center items-center gap-8 px-4 py-1 bg-secondary text-bright rounded-[4px] m-auto"
            >
              <span class="">Contact</span>
              <CommonSvg raw={PhoneSvg} class="size-6" />
            </button>
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
