---
import CafeVienneSvg from "../assets/icons/cafe-vienne.svg?raw";
import PhoneSvg from "../assets/icons/phone.svg?raw";
import EmailSvg from "../assets/icons/email.svg?raw";
import InstagraSvg from "../assets/icons/instagram.svg?raw";
import FacebookSvg from "../assets/icons/facebook.svg?raw";
import LlanasSvg from "../assets/icons/llanas.svg?raw";
import MapSvg from "../assets/icons/map.svg?raw";
import type { PageFooter } from "../models/strapi/components/page.interface";
import CommonSvg from "./common/common-svg.astro";
import { Image } from "astro:assets";

export interface Props {
  footer: PageFooter;
}

const { footer } = Astro.props;
---

<footer id="contact" class="w-full lg:h-96 bg-secondary text-bright">
  <div
    class="container flex flex-col lg:flex-row h-full w-full justify-evenly items-center gap-8 py-4"
  >
    <div class="basis">
      <CommonSvg
        raw={CafeVienneSvg}
        class="size-16 m-auto lg:size-[12rem] aspect-square drop-shadow-md text-primary"
      />
    </div>
    <div class="basis text-center space-y-6">
      <h3 class="font-valencia">{footer.title}</h3>
      <h4 class="font-cormorant">{footer.subtitle}</h4>
      <div
        class="flex flex-col justify-center gap-4 lg:gap-6 w-56 m-auto font-cormier"
      >
        <a
          href={`tel:${footer.phone}`}
          class="flex justify-between items-center hover:text-primary"
        >
          <CommonSvg raw={PhoneSvg} class="size-6" />
          {footer.phone}
        </a>
        <a
          href={`mailto:${footer.mail}`}
          class="flex justify-between items-center hover:text-primary lowercase font-cormorant"
        >
          <CommonSvg raw={EmailSvg} class="size-6" />
          {footer.mail}
        </a>
        <a
          href={`geo:42.69832641279886,2.8925804577344163`}
          class="flex justify-between items-center hover:text-primary text-end font-cormorant"
        >
          <CommonSvg raw={MapSvg} class="size-6" />
          {footer.address}
        </a>
      </div>
    </div>
    <div class="basis flex flex-col gap-4 lg:gap-6 font-cormorant">
      <div class="flex gap-4 justify-center text-primary">
        <a href="https://www.instagram.com/le_cafe_vienne">
          <CommonSvg raw={InstagraSvg} class="size-8 hover:text-bright" />
        </a>
        <a href="https://www.facebook.com/profile.php?id=100063773733704">
          <CommonSvg raw={FacebookSvg} class="size-8 hover:text-bright" />
        </a>
      </div>
      <div
        class="flex flex-row gap-2 justify-center items-center font-cormorant"
      >
        <span> Design et Réalisation : </span>
        <a href="https://llanas.dev" target="_blank">
          <CommonSvg raw={LlanasSvg} class="h-4 w-auto text-primary" />
        </a>
      </div>
      <div class="text-center">
        <span>@ cafevienne 2024 - tous droits réservés</span>
      </div>
    </div>
  </div>
</footer>
